/* ==================== 
   Réinitialisation globale 
==================== */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ==================== 
   Header Principal 
==================== */
.header_event {
    position: relative;
    margin-top: 0px;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#083D77 10%, #2c455f 49%, #083D77 100%);
    background-color: transparent;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 2;
}
.header_event p{
    background-color: transparent;
}
.header_event h1 {
    position: relative;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 4vw;
    line-height: 1.2;
    color: #fff;
    background-color: transparent;
    text-align: left;
}

.header_event img {
    width: 100%; /* Occupe toute la largeur */
    height: 110%; /* Occupe toute la hauteur */
    position: absolute; /* Positionne l'image par rapport au conteneur parent */
    left: 0; /* Aligne à gauche */
    margin-top: -100px; /* Ajuste la position pour compenser le header */
    display: block; /* Nécessaire pour centrer une image avec margin */
    opacity: 20%; /* Opacité de l'image */
    z-index: -2; /* Ordre d'empilement */
    object-fit: cover; /* Assure que l'image couvre tout le conteneur */
    filter: blur(1px); /* Floute l'image */
}

.header_event::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, transparent 100%);
    z-index: -1; /* Ordre d'empilement derrière le contenu mais devant l'image */
}
/* Menu principal */
.menu-container {
    position: absolute;
    top: 50%; /* Position verticale au milieu */
    left: 50%; /* Position horizontale au milieu */
    width: 50%;
    padding-bottom: 37%; /* Proportions du conteneur */
    transform: translate(-50%, -17%); /* Centre par rapport à son propre centre */
    z-index: 2;
    display: flex; /* Optionnel, si nécessaire pour centrer le contenu interne */
    justify-content: center; /* Centre le contenu interne horizontalement */
    align-items: center; /* Centre le contenu interne verticalement */
}

.menu {
    justify-content: center;
    display: flex;
    gap: 30px; /* Espacement entre les boutons */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    background: none; /* Pas de couleur */
}

.menu-item {
    position: relative;
    background: none; /* Supprime le fond */
    
}


.menu-button {
    position: relative;
    z-index: 2;
    padding: 25px 0.1px;
    width: 200px;
    height: 125px;
    margin: 0 auto; /* Centre les boutons */
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu-button span {
    z-index: 2;
    position: relative;
    background-color: #083D77;
}

.menu-button .conferences {
    background-image: url('/illustration_event/conferences.JPG');
    background-size:contain;
    background-position: center;
    width: 100%;
    height: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.menu-button .visites {
    background-image: url('/illustration_event/visites.JPG');
    background-size:contain;
    background-position: center;
    width: 100%;
    height: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-button .voyages {
    background-image: url('/illustration_event/voyage.JPG');
    background-size:contain;
    background-position: center;
    width: 100%;
    height: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button .soiree {
    background-image: url('/illustration_event/soiree.JPG');
    background-size:contain;
    background-position: center;
    width: 100%;
    height: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-button:hover {
    background-color: #0d6efd; /* Couleur au survol */
    transform: scale(1.1); /* Agrandissement */
}

.menu-button span {
    z-index: 2;
    position: relative;
}

/* Effet des images au survol */
.images {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%; /* Trois images alignées */
    height: 100%;
    display: flex;
    overflow: hidden;
    transform: translateX(100%); /* Initialement caché */
    transition: transform 3s ease;
}

.menu-button:hover .images {
    transform: translateX(-100%); /* Glisse les images */
}

.images img {
    width: 33.33%; /* Chaque image occupe un tiers */
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.blog-container{
    padding: 10px 100px;
    background-color: #083D77;
}
.blog-article {
    color: #fff;
    display: flex;
    align-items: flex-start; /* Aligne les éléments en haut */
    gap: 20px; /* Espacement entre l'image et le texte */
}

.article-image {
    width: 150px; /* Largeur de l'image */
    height: auto; /* Conserve les proportions */
    border-radius: 10px; /* Coins arrondis (optionnel) */
}
.article-content {
    flex: 1; /* Permet au contenu de prendre tout l'espace restant */
    display: flex;
    flex-direction: column; /* Arrange les éléments verticalement */
    justify-content: flex-start; /* Aligne les éléments en haut (verticalement) */
    align-items: flex-start; /* Aligne les éléments à gauche (horizontalement) */
    
}

.blog-container {
    padding-bottom: 200px;
}

.article-content p{
    text-align: left;
}

.blog-container h1 {
    font-size: 3vw;
    color: #fff;
    padding-top: 10px;
    margin: 0; /* Évite des marges additionnelles qui pourraient impacter l'alignement */
}
/* Centrer les images */
.article-image {
    display: block;
    margin: 20px auto; /* Centre horizontalement */
    max-width: 100%; /* Ne dépasse pas la largeur du conteneur */
    cursor: pointer; /* Montre que l'image est cliquable */
}
.illustrations .article-image:hover{
    transform: scale(1.1);
}

.illustrations {
    display: flex; /* Affiche les images en ligne */
    gap: 10px; /* Ajoute de l'espace entre les images */
    justify-content: center; /* Centre les images dans le conteneur */
    align-items: center; /* Aligne les images sur leur centre */
}

.illustrations img {
    height: 150px; /* Fixe une hauteur identique pour toutes les images */
    width: auto; /* Maintient les proportions des images */
    object-fit: cover; /* Adapte l'image sans la déformer */
    border-radius: 5px; /* (Facultatif) Ajoute des coins arrondis */
}

.read-more-btn {
    width: 30px;                /* Largeur du bouton (un peu plus large pour mieux contenir le texte) */
    height: 30px;               /* Hauteur égale à la largeur pour un bouton parfaitement rond */
    border-radius: 50%;         /* Arrondit complètement les coins pour obtenir une forme circulaire */
    display: flex;
    justify-content: center;    /* Centre le texte horizontalement */
    align-items: center;        /* Centre le texte verticalement */
    background-color: #ffffff;  /* Couleur d'arrière-plan */
    color: rgb(0, 0, 0);        /* Couleur du texte */
    border: none;               /* Supprime les bordures */
    cursor: pointer;           /* Ajoute un curseur pour l'interaction */
    font-size: 16px;            /* Taille de la police ajustée */
    margin: 10px auto;          /* Centre le bouton horizontalement */
}
.read-more-btn:hover{
    transform: scale(1.1);
}
/* Styles de la modale */
.image-modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ajoute un défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 90%; /* Taille maximale de l'image agrandie */
    max-height: 90%; /* Hauteur maximale */
}

.logoEvent{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 25%;
    height: auto;
    opacity: 70%;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
/* Styles responsives */
@media (max-width: 768px) {
    .header_event h1 {
        font-size: 10vw; /* Ajuste la taille de la police pour les petits écrans */
        text-align: left; /* Centre le texte pour une meilleure lisibilité */
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 1000;
      }

    .header_event p {
        font-size: 3.5vw; /* Ajuste la taille de la police pour les petits écrans */
        text-align: left; /* Centre le texte pour une meilleure lisibilité */
    }

    .header_event img {
        top: 0; /* Ajuste la position de l'image */
        width: 100%;
        height: 100%; /* Laisse l'image ajuster sa hauteur automatiquement */
        
    }

    .menu-container {
        width: 80%; /* Réduit la largeur du conteneur */
        padding-bottom: 50%; /* Ajuste les proportions du conteneur */
    }

    .menu-button {
        width: 150px;
        height: 120px;
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Grille 2 par 2 */
        gap: 15px; /* Espacement entre les éléments de la grille */
        width: 100px 100px; /* Réduit la taille du menu */
    }

    .menu-container {
        width: 100px; /* Réduit la largeur du conteneur */
        padding-bottom: 40%; /* Ajuste les proportions du conteneur */
        transform: translate(-50%, -25%);
    }

    .menu button {
        font-size: 3vw; /* Ajuste la taille de la police des boutons */
        padding: 10px; /* Ajuste le padding des boutons */
    }

    article {
        padding: 10px; /* Ajoute du padding pour les petits écrans */
        font-size: 4vw; /* Ajuste la taille de la police pour les articles */
    }

    article h2 {
        font-size: 5vw; /* Ajuste la taille de la police pour les titres des articles */
        text-align: left; /* Centre les titres pour une meilleure lisibilité */
    }

    .blog-container h1 {
        font-size: 9vw;
        color: #fff;
        padding-top: 10px;
        margin: 0; /* Évite des marges additionnelles qui pourraient impacter l'alignement */
    }
    article p {
        font-size: 4vw; /* Ajuste la taille de la police pour le texte des articles */
        line-height: 1.5; /* Améliore la lisibilité du texte */
    }

    .blog-article {
        flex-direction: column; /* Arrange les éléments verticalement */
        align-items: center; /* Centre les éléments horizontalement */
    }

    .article-image {
        width: 70%; /* L'image occupe toute la largeur */
        height: auto; /* Conserve les proportions */
        margin-bottom: 10px; /* Ajoute un espace en bas de l'image */
    }

    .article-content {
        width: 100%; /* Le contenu occupe toute la largeur */
        align-items: center; /* Centre les éléments horizontalement */
        text-align: center; /* Centre le texte */
    }

    .blog-container {
        padding: 10px 20px; /* Réduit le padding pour les petits écrans */
    }

    .illustrations {
        display: flex; 
        flex-wrap: wrap; /* Permet le retour à la ligne si l'espace est insuffisant */
        gap: 10px; 
        justify-content: center; 
        align-items: center; 
    }
    
    .illustrations img {
        max-width: 45%; /* Limite la largeur à environ la moitié du conteneur */
        height: 150px; 
        width: auto; 
        object-fit: cover; 
        border-radius: 5px;
    }

    .logoEvent{
        position: relative;
        display: block;
        margin: 0 auto;
        width: 80%;
        height: auto;
        opacity: 70%;
    }
}
